[user]
  name = tsuyoshiwada
  email = v23.b.wada@gmail.com
[push]
  default = simple
[core]
  editor = vim -c \"set fenc=utf-8\"
[color]
  ui = auto
[merge]
  tool = vimdiff2
[alias]
  st = status
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Creset%s'
