{
  ".CodeMirror.vim-mode.normal-mode textarea": {
    "ctrl-[": "vim:reset-normal-mode",
    "ctrl-c": "vim:reset-normal-mode"
  },
  ".CodeMirror.vim-mode:not(.insert-mode):not(.key-buffering) textarea": {
    ":": "vim:repeat-find",
    ";": "vim:ex-command",
    "g h": "vim:move-to-top-of-screen",
    "g m": "vim:move-to-middle-of-screen",
    "g l": "vim:move-to-bottom-of-screen",
    "M": "vim:move-to-first-character-of-line",
    "L": "vim:move-to-last-character-of-line",
  },
  ".CodeMirror.vim-mode.insert-mode textarea": {
    "ctrl-[": "vim:exit-insert-mode",
    "ctrl-c": "vim:exit-insert-mode"
  },
  ".CodeMirror.vim-mode.replace-mode textarea": {
    "ctrl-[": "vim:exit-insert-mode",
    "ctrl-c": "vim:exit-insert-mode"
  },
  ".CodeMirror.vim-mode.visual-mode textarea": {
    "ctrl-[": "vim:exit-visual-mode",
    "ctrl-c": "vim:exit-visual-mode"
  }
}
