add_newline = true

format = """\
  $username\
  $hostname\
  $directory\
  $git_branch\
  $git_commit\
  $git_state\
  $git_status\
  $cmd_duration\
  $custom\
  $line_break\
  $jobs\
  $time\
  $character\
  """

[character]
success_symbol = "[❯](bold fg:79)"
error_symbol = "[❯](bold fg:170)"
vicmd_symbol = "[❮](bold fg:79)"

[battery]
disabled = true

[directory]
truncate_to_repo = false
style = "bold fg:104"

[git_branch]
style = "fg:103"

[git_state]
style = "fg:104"

[git_status]
style = "fg:104"
